@media (min-width: 576px) {
	.newsletter-section {
		padding: 4em 2em;
	}

	.newsletter {
		border-radius: 12px;
	}

	.products {
		flex-direction: row;
		align-items: flex-start;

		li {
			display: block;
		}
	}
	.shops {
		img {
			width: 550px;
		}
	}
	.user-panel {
		.admin-btns {
			flex-direction: row;
		}
	}
}

@media (min-width: 768px) {
	.nav {
		&__items {
			display: flex;
			gap: 2em;
			font-size: 1.8rem;
			// font-weight: bold;
		}

		.burgerBtn {
			display: none;
		}
	}

	.new-items {
		grid-template-columns: repeat(2, 1fr);
	}

	.footer {
		&__content {
			display: flex;
			flex-direction: row;
			gap: 0;
		}
	}

	.product-page {
		&__main {
			flex-direction: row;
			gap: 10em;
		}

		&__info {
			align-self: flex-start;
		}

		&__img {
			width: auto;
			height: 500px;
		}

		&__btn {
			margin-top: 4em;
		}
	}
}

@media (min-width: 992px) {
	.new-items {
		grid-template-columns: repeat(3, 1fr);
	}

	.size-chart {
		img {
			width: 800px;
		}
	}

	.about-us {
		flex-direction: row-reverse;
		gap: 5em;

		img {
			width: 100%;
		}
	}
}

@media (min-width: 1050px) {
	.about-us {
		.text {
			margin-bottom: 10em;
		}
	}
}

@media (min-width: 1200px) {
	.new-items {
		grid-template-columns: repeat(4, 1fr);
	}

	.size-chart {
		img {
			width: 1000px;
		}
	}
}

@media (min-width: 1330px) {
	.products {
		.new-items {
			.item {
				&__top {
					img {
						height: 250px;
					}
				}
			}
		}
	}
}
