@media (min-width: 576px) {
	.newsletter-section {
		padding: 4em 2em;
	}

	.newsletter {
		border-radius: 12px;
	}

	.products {
		flex-direction: row;
		align-items: flex-start;

		li {
			display: block;
		}
	}
}

@media (min-width: 768px) {
	.nav {
		&__items {
			display: flex;
			gap: 2em;
			font-size: 1.8rem;
			// font-weight: bold;
		}

		.burgerBtn {
			display: none;
		}
	}

	.new-items {
		grid-template-columns: repeat(2, 1fr);
	}

	.footer {
		&__content {
			display: flex;
			flex-direction: row;
			gap: 0;
		}
	}
}

@media (min-width: 992px) {
	.new-items {
		grid-template-columns: repeat(3, 1fr);
	}

	.size-chart {
		img {
			width: 800px;
		}
	}

	.about-us {
		flex-direction: row-reverse;
		gap: 5em;

		img {
			width: 100%;
		}
	}
}

@media (min-width: 1050px) {
	.about-us {
		.text {
			margin-bottom: 10em;
		}
	}
}

@media (min-width: 1200px) {
	.new-items {
		grid-template-columns: repeat(4, 1fr);
	}

	.size-chart {
		img {
			width: 1000px;
		}
	}
}
