@use 'utilities' as *;

body {
	background-color: $white-color;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	color: $black-color;
}

// header

.info {
	padding: 0.5em 1em;
	width: 100%;
	min-height: 40px;
	text-align: center;
	color: $white-color;
	font-size: clamp(1rem, 3vw, 1.4rem);
	font-weight: bold;
	letter-spacing: 0.8px;
	background-color: $pure-black;

	p {
		margin: 0;
		transition: opacity 0.5s;
	}

	.info1,
	.info2 {
		position: absolute;
	}

	.hide {
		opacity: 0;
	}
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2em 1em;

	&__brand {
		padding: 0.3em;
		font-family: 'Bajern', serif;
		font-size: clamp(4rem, 5vw, 6rem);
		letter-spacing: 1px;
		font-weight: bold;

		span {
			color: $main-color;
		}

		.r-mark {
			color: $black-color;
			font-size: 1.8rem;
		}
	}
}

.nav {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6em;
	color: $black-color;

	&::before {
		content: '';
		position: absolute;
		top: -5px;
		width: 60%;
		min-width: 270px;
		height: 2px;
		border-radius: 20px;
		background-color: $gray-color;
	}

	&__items {
		display: none;
	}

	&__item {
		position: relative;
		padding: 0.5em 1em;

		&:hover {
			&::before,
			&::after {
				scale: 1;
			}
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 20%;
			height: 20%;
			scale: 0;
			transition: scale 0.3s;
		}

		&::after {
			left: 0;
			top: 0;
			border-top: 1px solid $black-color;
			border-left: 1px solid $black-color;
		}

		&::before {
			bottom: 0;
			right: 0;
			border-bottom: 1px solid $black-color;
			border-right: 1px solid $black-color;
		}
	}

	&__items-mobile {
		position: absolute;
		bottom: -200px;
		left: 0;
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 1em;
		width: 200px;
		font-size: 18px;
		background-color: $main-color;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
		color: $white-color;
		transform: translateX(-100%);
		transition: transform 0.3s ease-in-out, opacity 0.3s;
		z-index: 999;

		.nav__item {
			&::before,
			&::after {
				border-color: $white-color;
			}
		}
	}

	.show-menu {
		transform: translateX(0);
	}

	&__ui {
		display: flex;
		gap: 2em;
	}

	&__btn {
		padding: 0.5em 1em;
		font-size: 2rem;
		transition: color 0.3s;
		color: $black-color;

		&:hover {
			color: $main-color;
		}
	}

	.burgerBtn {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 10px;
		padding: 0.5em 1em;
		width: 60px;
		height: 60px;

		&:hover {
			.bars::after,
			.bars::before {
				width: 100%;
			}
		}

		.bars {
			position: relative;
			width: 100%;
			height: 3px;
			background-color: $black-color;

			&::before,
			&::after {
				position: absolute;
				content: '';
				height: 3px;
				background-color: $black-color;
				transition: width 0.3s;
			}

			&::before {
				top: 10px;
				left: 0;
				width: 80%;
			}

			&::after {
				top: 20px;
				left: 0;
				width: 60%;
				transition-delay: 0.1s;
			}
		}
	}
}

// carusel

.news {
	.carousel-item,
	.carousel-inner {
		border-radius: 20px;
	}
	img {
		height: clamp(300px, 50vw, 600px);
		object-fit: cover;
		object-position: center;
	}
	.carousel-item1 {
		img {
			object-position: top;
		}
	}
}

// products

.new-items {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-flow: dense;
	gap: 3em;

	.item,
	.item__bot {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2em;
	}

	.item {
		&__new {
			position: absolute;
			padding: 0.5em 1em;
			background-color: $black-color;
			border-radius: 5px;
			color: $white-color;
			text-align: center;
			text-transform: uppercase;
		}

		&__bot {
			gap: 0.5em;
			font-size: clamp(1.2rem, 3vw, 1.4rem);
		}
	}
}

// newsletter

.newsletter-section {
	padding: 0;
}

.newsletter {
	flex-direction: column;
	gap: 3em;
	padding: 4em;
	width: 578px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	border-radius: 0;

	&__info {
		font-size: clamp(1.6rem, 3vw, 2rem);
		text-align: center;

		span {
			font-weight: bold;
		}
	}

	&__form {
		width: 100%;
		flex-direction: column;
		gap: 2em;
	}

	&__input {
		padding: 0.5em 1em;
		width: 100%;
		border: 1px solid $gray-color;
		font-size: 1.4rem;
		border-radius: 6px;
	}

	&__btn {
		padding: 1em 2em;
		border: none;
		background-color: $black-color;
		color: $white-color;
		font-size: 1.4rem;
		border-radius: 5px;
	}

	&__polite {
		text-decoration: underline;
		font-size: 1.2rem;
	}
}

// size chart

.size-chart {
	flex-direction: column;
	font-size: clamp(1.4rem, 3vw, 1.8rem);
	text-align: center;

	img {
		width: 100%;
		margin-top: 2em;
	}
}

// footer

.footer {
	position: relative;
	background-color: $black-color;
	color: $white-color;
	font-size: clamp(1.4rem, 3vw, 1.6rem);
	overflow: hidden;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		gap: 3em;
	}

	&__links {
		display: flex;
		gap: 3em;

		a,
		p {
			padding: 0.3em 0.6em;
		}
	}

	&__title {
		font-weight: bold;
	}

	.customer-service,
	.brand {
		display: flex;
		flex-direction: column;
	}

	&__socials {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5em;

		i {
			font-size: 2rem;
			margin: 0 0.5em;
		}

		p {
			margin: 0;
		}

		a:hover {
			color: $secondary-color;
		}
	}
}

// contact

.contact {
	background-color: $white-color;
	font-size: clamp(1.4rem, 3vw, 1.6rem);

	h1 {
		margin-top: 10em;
	}

	&__form-top,
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	&__form-label {
		margin-bottom: 0.5em;
		align-self: flex-start;
	}

	&__form-input,
	&__form-textarea {
		margin-bottom: 2em;
		padding: 0.6em 1.2em;
		width: 100%;
		background: none;
		border-radius: 8px;
		font-size: 1.6rem;
		border: 1px solid $main-color;
	}

	&__form-textarea {
		resize: vertical;
		min-height: 300px;
	}

	&__form-btn {
		align-self: flex-end;
		padding: 1em 2em;
		max-width: 300px;
		color: $white-color;
		border: none;
		border-radius: 8px;

		background-color: $main-color;
		transition: background-color 0.3s;

		&:hover {
			background-color: $secondary-color;
		}
	}

	&__info {
		margin-top: 3em;
	}
}

// about-us

.about-us {
	flex-direction: column;
	gap: 2em;
	overflow: hidden;

	.text {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		font-size: clamp(1.6rem, 3vw, 1.8rem);
		transform: translate3d(0, -200%, 0);
		animation: fadeIn 0.8s 0.4s ease-in-out forwards;
	}

	img {
		width: 90%;
		border-radius: 9px;
		animation: fadeIn-reverse 0.8s ease-in-out;
	}
}

// produkty

.products {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10em;

	&__category {
		flex-grow: 1;
		list-style: none;
		a,
		li {
			display: inline-block;
			padding: 0.5em 1em;
			font-size: clamp(1.4rem, 3vw, 1.6rem);
		}
	}

	.new-items {
		flex-grow: 10;

		.item {
			&__top {
				img {
					height: 250px;
				}
			}
		}
	}
}

// login panel

.login {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0 2em;
	width: 700px;
	min-height: 400px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

	&__form {
		display: flex;
		flex-direction: column;
		gap: 2em;
		margin-top: 1em;
		width: 70%;
		color: $black-color;
	}

	&__input {
		align-self: center;
		padding: 0.3em 0.8em;
		width: 100%;
		border: 1px solid $secondary-color;
		background: none;
		font-size: clamp(1.4rem, 3vw, 1.6rem);
	}
	&__btn {
		padding: 1em 2em;
		align-self: flex-end;
		background-color: $main-color;
		font-size: clamp(1.2rem, 3vw, 1.5rem);
		color: $white-color;
	}

	.info {
		background: none;
		color: $black-color;
	}
	.link {
		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 3px;
			background-color: $secondary-color;
			transition: height 0.3s;
			z-index: -1;
		}

		&:hover {
			&::before {
				height: 100%;
			}
		}
	}
}

// faq

.FAQ {
	.accordion-item {
		padding: 1em;
	}
	.accordion-button {
		font-size: clamp(1.6rem, 3vw, 1.8rem);
	}
	.accordion-body {
		display: flex;
		justify-content: center;
		align-items: center;
		p {
			font-size: clamp(1.2rem, 3vw, 1.4rem);
			margin-bottom: 0;
		}
	}
}

// user-panel

.user-panel {
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 4em 2em;
	width: 100%;
	height: 400px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

	a {
		position: absolute;
		top: 20px;
		right: 20px;
		padding: 1.2em;
		background-color: $main-color;
		border-radius: 6px;
		font-size: clamp(1.2rem, 3vw, 1.6rem);
		color: $white-color;
		letter-spacing: 0.8px;
		transition: background-color 0.3s;

		&:hover {
			background-color: $secondary-color;
		}
	}

	img {
		height: 300px;
		transform: translate3d(0, 120%, 0);
		opacity: 0;
		animation: fadeIn 0.8s 0.2s ease-in-out forwards;
	}
}

// shops

.shops {
	flex-direction: column;
	text-align: center;

	.point {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 6em;
		width: 80%;
		text-align: left;
	}

	table {
		width: 50%;
	}

	p {
		font-size: clamp(1.4rem, 3vw, 1.6rem);
	}

	tr,
	ul,
	ol {
		font-size: clamp(1rem, 3vw, 1.6rem);
	}

	thead {
		td {
			padding: 2em;
		}
	}

	td {
		padding: 0.5em 0;
	}

	td:first-child {
		padding: 0 6em 0 0;
	}

	img {
		width: 100%;
	}
}

// product-page

.product-page {

	h1 {
		font-size: clamp(2.2rem,3vw,2.8rem);
	}

	&__main {
		flex-direction: column;
		gap: 5em;
	}

	&__img {
		width: 80%;
		object-fit: cover;
	}

	&__info {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: clamp(1.4rem,3vw,1.6rem);
	}

	&__btn {
		padding: 1em 0;
		border-radius: 8px;
		color: $white-color;
		background-color: $main-color;
		transition: background-color 0.3s;

		&:hover {
			background-color: $secondary-color;
		}
	}
}

@import './media_querries';
