@font-face {
  font-family: 'Bajern';
  src: url('../../../fonts/Bajern.woff2');
}

.thin {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-style: normal;
}

.bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: normal;
}
